<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">

      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>

      <a class="brand" href="/">Software FAQs</a>

      <div class="nav-collapse text-right">
        <ul class="nav text-right">
          <li><a href="/software1">Software1</a></li>
          <li><a href="/software2">Software2</a></li>
          <li><a href="/software3">Software3</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
