//From:
//http://codepen.io/dehash/pen/Bfory
//
// basically it should load jpg and display it then twist 4 times then stop
// some scss vars are configurable but also
// dependent on haml code and can get some good and some odd results too just playing with the vars - here on win7 laptop it looks best in chrome, ok in ff, odd in ie - not perfect and still tweaking it but a good start

// image - Bathers at Asnières by Georges Seurat 1884 from:
// http://www.flickr.com/photos/queenieandthedew/8487193954/sizes/l/in/photostream/

// config vars
$image:"http://i.imgur.com/aeER1RL.jpg";
$topOffset: -30px;
$leftOffset: -15px;
$sliceW:320px;
$sliceH:47px;
$numSlices:13; // match the haml $numSlices value
$animationDelayOffset:100ms;
$animationDuration:3s;
$animIterationCount:4;

//----

@keyframes twist{
	from{transform: rotateY(0deg);}
	to{transform: rotateY(360deg);}
}

//body {
//	perspective: 50em;
//	background-color:#333;
//}

.cube {
	position: relative;
	top:50px;
	margin: 0 auto 0;
	padding: 0;
	width: $sliceW; height: $sliceH;
	list-style: none;
	transform-style: preserve-3d;
	animation-duration: $animationDuration;
	animation-name: twist;
	animation-timing-function:ease-in-out;
	animation-iteration-count: $animIterationCount;
	animation-direction: alternate;
}

.face {
	box-sizing: border-box;
	position: absolute;
	width: $sliceW; height: $sliceH;
	background:url($image) $leftOffset $topOffset;
	backface-visibility: hidden;
}


.face:nth-child(1) { transform: translateZ(10em); }
.face:nth-child(2) { transform: rotateY(180deg) translateZ(10em); }
.face:nth-child(3) { transform: rotateY(90deg) translateZ(10em); }
.face:nth-child(4) { transform: rotateY(-90deg) translateZ(10em); }

@for $i from 1 through $numSlices {
	.cube:nth-child(#{$i}) { animation-delay:($i*$animationDelayOffset); }
	.f#{$i} {background-position:$leftOffset $topOffset +($i*-$sliceH);}
}

