

#top-nav{
  padding:0px;
}

html, body {
  background-color: #eee;
  margin:0;
  padding:0;
  padding-top: 10px;
  height:100%;
}

#container {
  min-height: 100%;
  position:relative;
}

#main {
  padding:10px;
  position:relative;
  min-height: 100%;
}

#footer {
   position:absolute;
   bottom:0;
   width:100%;
   height:50px;   /* Height of the footer */
   background:#eee;
}

/* title */

.software{
  background-color: #eee;
  padding-top: 30px;
  padding-bottom: 30px;
}

.software .title {
  text-align: center;
  text-shadow: 2px 2px #111111;
  font-size: 4em;
}

.contact {
  padding-top: 20px;
}

/*Q and A */

.q-and-a {
  padding: 5px;
  /*border: 1px solid gray;*/
  background-color: #ecedc5;

}
.question {
  padding: 5px;
  background-color: #e2ddd8;
}

.answer {
  padding: 5px;
}

.examples{
  color: #444444;
  padding:5px;
}

.brand{
  padding-left: 50px;
  padding:50px;
 /* text-align: center;*/
}


