<!doctype html>
<html lang="en">
{% include header.html %}
<body>
  <div id="container">
    <div id="top-nav">
      {% include navigation.html %}
    </div>
    <div id="main">
      <div class="software">
        <div class="container">
            <div class="title"> {{ page.title }} </div>
        </div>

        {% if page.mail %}
        <div class="contact">
          <div class="pull-right">
            For help, contact: <br><a href="mailto:{{ page.mail }}">{{ page.mail }}</a>
          </div>
        </div>
        {% endif %}
      </div>

      {{ content }}
    </div>
    <div id="footer">
      {% include footer.html %}
    </div>
  </div>
</body>
</html>
